@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  height:100%;
  -webkit-font-smoothing: antialiased;
}
body{
  margin:0;
  background-color: rgb(219 234 254 / 0.2);
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*,*::after,*::before{
  /* padding:0;
  margin:0; */
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components{
  .navlink{
    @apply block py-[0.5rem] md:after:content-[''] 
    after:block md:after:h-[4px] md:after:rounded-[2px] 
    md:after:w-full overflow-x-hidden hover:text-slate-800
    px-10 mb-2 md:px-0 md:mb-0
  }
  .form-control{
    @apply border border-slate-300/80 focus:ring-2 outline-none
     text-slate-600 duration-300 px-4 focus:ring-blue-400 
     rounded-[5px] w-full py-2
  }
  .flex-col-center{
    @apply flex flex-col justify-center items-center
  }
  .flex-row-center{
    @apply flex justify-center items-center
  }
  .tooltip{
    @apply lg:after:text-center lg:after:block lg:after:w-[6rem]
    lg:after:rounded-[5px] lg:after:text-[14px] lg:after:-translate-x-[50%] lg:after:left-[50%] 
    lg:after:hover:bg-[rgb(50,50,50)] lg:after:py-[5px] lg:after:text-white lg:after:top-[calc(100%+5px)]
    lg:after:absolute lg:after:opacity-0 lg:hover:after:opacity-100
    lg:after:duration-300 lg:after:pointer-events-none
  }
}

@keyframes anim-spin{
  to{ 
      transform: rotate(360deg);
  }
}
.anim-spin{
  animation-name: anim-spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}