@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components{
  .navlink{
    @apply block py-[0.5rem] md:after:content-[''] 
    after:block md:after:h-[4px] md:after:rounded-[2px] md:after:w-full
    overflow-x-hidden hover:text-slate-800
    px-10 mb-2
    md:px-0 md:mb-0
  }
  .form-control{
    @apply border border-slate-300/80 focus:ring-2 outline-none
     text-slate-600 duration-300 px-4 focus:ring-blue-400 
     rounded-[5px] w-full py-2
  }
  .flex-col-center{
    @apply flex flex-col justify-center items-center
  }
  .flex-row-center{
    @apply flex justify-center items-center
  }
}